development:
  adapter: postgresql
  database: pheasant_dev
  username: <%= ENV['USER'] %>
  encoding: unicode
  host: localhost

test:
  adapter: postgresql
  database: pheasant_test
  username: <%= ENV['USER'] %>
  encoding: unicode
  host: localhost
